<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br /><br />
      <h1 class="header center  text-lighten-2" style="color: lightblue">
        Biggest sale is here!
      </h1>

      <div class="row center">
        <h5 class="header col s12 light" style="color:lightskyblue">
          Upto 70% off on all electronic products
        </h5>
      </div>
      <div class="row center">
        <a
          href="#"
          id="download-button"
          class="btn-large waves-effect waves-light "
          style="background-color:rgb(0, 30, 94);"
          >Get Started</a
        >
      </div>
      <br /><br />
    </div>
  </div>
  <div class="parallax">
    <img
      src="./../assets/img/lapcam.jpg"
      height="720"
      width="1420"
      alt="Unsplashed background img 1"
    />
  </div>
</div>
